input:disabled,
textarea:disabled,
select:disabled {
  @apply cursor-not-allowed bg-gray-200;
}

input:read-only,
textarea:read-only,
select:read-only {
  @apply cursor-default;
}

button:focus {
  outline: 0 !important;
}
button:active {
  outline: 0 !important;
  position: relative;
  top: 1px;
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.75);
}

.form-input,
.form-textarea {
  @apply border border-gray-500 rounded text-sm py-2 px-3;
}
.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  @apply outline-none;
}

.form-select {
  @apply border border-gray-500 rounded text-sm px-3 cursor-default;
}
.form-select > select {
  @apply bg-transparent appearance-none outline-none py-2;
}
.form-select > select,
.dropdown > select {
  z-index: 1;
}
.form-select > i,
.dropdown > i {
  position: relative;
  z-index: 0;
}

.form-dropdown {
  @apply border border-gray-500 rounded flex justify-between py-2 px-3 w-full bg-gray-100;
}

.form-dropdown-list {
  @apply z-10 bg-gray-100 w-full outline-none absolute top-full border-b border-r border-l border-gray-500 rounded-b;
}
