input,
textarea,
select {
  width: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply cursor-not-allowed bg-gray-200;
}

input:read-only,
textarea:read-only,
select:read-only {
  @apply cursor-default;
}

button:focus {
  outline: 0 !important;
}
button:active,
a[role='button']:active {
  outline: 0 !important;
  position: relative;
  top: 1px;
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.75);
}

.form-dropdown {
  @apply border border-gray-500 flex justify-between py-2 px-3 w-full bg-white;
}
.form-dropdown:focus-within {
  @apply ring-1 ring-blue-500 border-blue-500;
}
.form-dropdown-list {
  @apply z-10 bg-white w-full outline-none absolute top-full border-b border-r border-l border-gray-500;
  max-height: 22rem;
}

.form-checkbox:disabled,
.form-checkbox:disabled ~ div,
.form-radio:disabled,
.form-radio:disabled ~ span {
  cursor: not-allowed !important;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.has-error .form-input,
.has-error .form-select,
.has-error .form-textarea {
  @apply border-red-500;
}

.has-error .form-label,
.has-error .form-help {
  @apply text-red-600 !important;
}
