input,
textarea,
select {
  width: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply cursor-not-allowed bg-gray-200;
}

input:read-only,
textarea:read-only,
select:read-only {
  @apply cursor-default;
}

button:focus {
  outline: 0 !important;
}
button:active,
a[role='button']:active {
  outline: 0 !important;
  position: relative;
  top: 1px;
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.75);
}

.checkbox:disabled,
.checkbox:disabled ~ div,
.form-radio:disabled,
.form-radio:disabled ~ span {
  cursor: not-allowed !important;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.has-error .input,
.has-error .select,
.has-error .textarea {
  @apply border-red-500 !important;
}

.has-error .form-label,
.has-error .form-help {
  @apply text-red-600 !important;
}

.input {
  @apply py-2 px-3 border border-neutral-300 shadow-sm rounded-lg focus:outline-blue-300 !important;
}

.textarea {
  @apply py-2 px-3 border border-neutral-300 shadow-sm rounded-lg focus:outline-blue-300 !important;
}

.select {
  @apply appearance-none py-2 px-3 border border-neutral-300 shadow-sm rounded-lg focus:outline-blue-300 !important;
}

/* customize default select arrow */
.select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2.75' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.dropdown {
  @apply border border-neutral-300 shadow-sm rounded-lg flex justify-between py-2 px-3 w-full bg-white !important;
}
.dropdown:focus-within {
  @apply ring-1 ring-blue-300 border-blue-300 !important;
}
.dropdown-list {
  @apply z-10 bg-white shadow-sm w-full max-h-80 outline-none absolute top-full border border-t-0 rounded-b-lg border-neutral-300 !important;
}

input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

.checkbox {
  @apply w-5 h-5 cursor-pointer accent-pink-500 !important;
}

.radio {
  @apply w-5 h-5 p-2 cursor-pointer accent-purple-500 !important;
}

.plusminus{
  @apply inline-flex items-center justify-center shadow-sm border border-neutral-300 divide-x divide-neutral-300 rounded-lg !important;
}