input,
textarea,
select {
  width: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply cursor-not-allowed bg-gray-200;
}

input:read-only,
textarea:read-only,
select:read-only {
  @apply cursor-default;
}

button:focus {
  outline: 0 !important;
}
button:active,
a[role='button']:active {
  outline: 0 !important;
  position: relative;
  top: 1px;
}
button:disabled {
  cursor: not-allowed;
  filter: opacity(0.75);
}

.checkbox:disabled,
.checkbox:disabled ~ div,
.form-radio:disabled,
.form-radio:disabled ~ span {
  cursor: not-allowed !important;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.has-error .input,
.has-error .select,
.has-error .textarea {
  @apply border-red-500 !important;
}

.has-error .form-label,
.has-error .form-help {
  @apply text-red-600 !important;
}

.input {
  @apply py-2 px-3 border border-neutral-300 shadow-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-300 !important;
}

.textarea {
  @apply py-2 px-3 border border-neutral-300 shadow-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-300 !important;
}

.select {
  @apply appearance-none py-2 px-3 border border-neutral-300 shadow-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-300 !important;
}

.select {
  background-image: url("/icons/select.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.dropdown {
  @apply border border-neutral-300 shadow-sm rounded-lg flex justify-between py-2 px-3 w-full bg-white !important;
}
.dropdown:focus-within {
  @apply ring-1 ring-blue-300 focus:outline-none !important;
}
.dropdown-list {
  @apply z-10 bg-white shadow-sm w-full max-h-80 outline-none absolute top-full border border-t-0 rounded-b-lg border-neutral-300 !important;
}

input[type='password'] {
  letter-spacing: 0.125em;
}

.checkbox {
  @apply w-5 h-5 cursor-pointer accent-primary !important;
}

.radio {
  @apply w-5 h-5 p-2 cursor-pointer accent-primary !important;
}

.plusminus {
  @apply inline-flex bg-white text-center shadow-sm border border-neutral-300 divide-x divide-neutral-300 rounded-lg  !important;
}
