.dialog {
  position: fixed;
  bottom: 1px;
  transform: translateX(-6.75rem);
}

.dialog-body {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  padding: 0.75rem;
  width: 15rem;
}

.dialog-arrow {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  /* filter: drop-shadow(0 4px 2px rgba(178, 178, 178, 0.4)); */
  height: 0.75rem;
  transform: translateX(6.5rem);
  width: 2rem;
}

.dialog-arrow::after {
  background: #fff;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  content: '';
  height: 0.75rem;
  position: absolute;
  top: -1px;
  width: 2rem;
}
